/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  margin: 0;
}

.inventory {
  width: 100%;
  border: 1px solid black;
}
.inventory-row {
  line-height: 0;
}
.inventory-box, .inventory-item {
  width: 2em;
  height: 2em;
}
.inventory-box {
  display: inline-block;
  background: grey;
  margin: 0;
  padding: 0;
  border: 0.05em solid darkgrey;
}
.inventory-item {
  border: 0;
  cursor: grab;
  /* cursor: pointer; */
}
.inventory-dragover {
  border: 0.05em inset black;
}

/* tooltips */
/* .inventory-tooltip {display:none;} */
.inventory-box {
  position: relative;
}
.inventory-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  line-height: 1em;
  width: 10em;
  display: inline-block;
  background: #ccc;
  border-radius: 0.3em;

  text-align: center;
  border: 1px solid black;
  padding: 0;
  margin: 0;

  left: 2em;
  top: 1em;
}
/* .inventory-box:hover .inventory-tooltip { */
.inventory-box.nodragging:hover .inventory-tooltip {
  visibility: visible;
}
